<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/css/adoptreview.css">

<th:block th:insert="~{inc/asset.html}"></th:block>
<style>

a {
	text-decoration: none;
	color: #555;
}

</style>

</head>
<body>

	<th:block th:insert="~{inc/header.html}"></th:block>


	<section class="hero-wrap hero-wrap-2"
		style="background-image: url(/images/bg_2.jpg);"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end">
				<div class="col-md-9 ftco-animate pb-5">
					<h1 class="mb-0 bread">입양 후기 게시판</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- 후기 게시판 -->
	<section class="ftco-section bg-light">
		<div class="container"></div>
		<div class="allbox">
			<button type="button" class="addbtn"
				onclick="location.href='/member/adoptreviewadd';">
				작성하기&nbsp;<i class="fa-solid fa-pen-nib"></i>
			</button>

			<div class="">
				<input type="text" id="searchbox" placeholder="검색어를 입력해주세요.">
				<button type="button" class="searchbtn" id="searchbtn">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</div>

		<table class="adlist" id="adrlist">
			<thead>
				<tr>
					<th>글번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성 날짜</th>
					<th>조회수</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ardto : ${adrlist}" th:object="${ardto}">
					<td>
						<input type="text" class="arseq" name="arseq" th:value="*{arseq}" readonly>
					</td>
					<td>
						<a th:href="@{/member/adoptreviewdetail(arseq=*{arseq})}"><input type="text" class="artitle" name="artitle" th:value="*{artitle}"	readonly></a>
					</td>
					<td>
						<input type="text" class="arname" name="arname" th:value="*{arname}" readonly>
					</td>
					<td>
						<input type="text" class="arregdate" name="arregdate" th:value="*{arregdate}" readonly>
					</td>
					<td>
						<input type="text" class="arview" name="arview" th:value="*{arview}" readonly>
					</td>
				</tr>
			</tbody>



		</table>
		
		<div id="pagebar" >
			<th:block>[(${pagebar})]</th:block>
		</div>

	</section>




	<th:block th:insert="~{inc/footer.html}"></th:block>

</body>

<script th:inline="javascript">
		

			$('#searchbtn').click(() => {
			    
			    $.ajax({
			       
			       type: 'GET',
			
			       url: '/member/adoptreviewsearch',
			       
			       data: 'word=' + $('#searchbox').val(),
			       
			       dataType: 'JSON',
			       
			       success: function(result) {
			
			          $('#adrlist tbody').html('');
			           		           
			           
			           result.forEach((item, index) => {
			        	   

/* 							<td>
								<input type="text" class="arseq" name="arseq" th:value="*{arseq}" readonly>
							</td>
							<td>
								<a th:href="/member/adoptreviewdetail?arseq=*{arseq}"><input type="text" class="artitle" name="artitle" th:value="*{artitle}"	readonly></a>
							</td>
							<td>
								<input type="text" class="arname" name="arname" th:value="*{arname}" readonly>
							</td>
							<td>
								<input type="text" class="arregdate" name="arregdate" th:value="*{arregdate}" readonly>
							</td>
							<td>
								<input type="text" class="arview" name="arview" th:value="*{arview}" readonly>
							</td>

			     */
			               let temp = '';
			
			               temp += '<tr>';
			               temp += '<td><input type="text" class="arseq" name="arseq" value=' + item.arseq + ' readonly></td>';
			               temp += '<td><a href="/member/adoptreviewdetail?arseq='  + item.arseq +'"><input type="text" class="artitle" name="artitle" value="'  + item.artitle + '" readonly></a></td>';
			               temp += '<td><input type="text" class="arname" name="arname" value="' + item.arname + '" readonly></td>';
			               temp += '<td><input type="text" class="arregdate" name="arregdate" value="' + item.arregdate + '" readonly></td>';
			               temp += '<td><input type="text" class="arview" name="arview" value="' + item.arview + '" readonly></td>';
			               temp += '</tr>';
			    
			               $('#adrlist tbody').append(temp);
			
			           }); //forEach
			
			       }, //success
			 
			       error: function(a,b,c) {
			          console.log(a,b,c);
			       }
			    })
			    
			  });
			    
    </script>


</html>